## web scarping

In [3]:
!pip install requests

Collecting requests
  Downloading requests-2.24.0-py2.py3-none-any.whl (61 kB)
Collecting chardet<4,>=3.0.2
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thangaraj\desktop\student_project\env\lib\site-packages (from requests) (2020.6.20)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
Collecting idna<3,>=2.5
  Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
Installing collected packages: chardet, urllib3, idna, requests
Successfully installed chardet-3.0.4 idna-2.10 requests-2.24.0 urllib3-1.25.11

In [6]:
!pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
Collecting soupsieve>1.2; python_version >= "3.0"
  Downloading soupsieve-2.0.1-py3-none-any.whl (32 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.3 soupsieve-2.0.1

In [78]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: six>=1.9 in c:\users\thangaraj\desktop\student_project\env\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\thangaraj\desktop\student_project\env\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [170]:
#importing required packages
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import requests
from bs4 import BeautifulSoup
import seaborn as sns

In [80]:
#sending request to the server
url='https://finance.yahoo.com/u/yahoo-finance/watchlists/the-berkshire-hathaway-portfolio?.tsrc=fin-srch'
#assigning the requested value into a variable
page=requests.get(url)
#displying the variable's text,now we have the html data of the page
# page.text

In [81]:
#now we will separate the data we need
soup=BeautifulSoup(page.text,'html.parser')
# soup.text#got only the details of page content excluding html

In [109]:
#extracting the header data
for i in soup.select('th'):
    print(i.text)

Watchlist
Change Today
1 Month Return
1 Year Return
Total Return
Symbol
Company Name
Last Price
Change
% Change
Market Time
Volume
Avg Vol (3 month)
Market Cap

In [193]:
#separating the data rows
table = soup.find('table', attrs={'class':'cwl-symbols W(100%)'})
table_rows = table.find_all('tr')

for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    print(row)

[]
['AAPL', 'Apple Inc.', '117.8011', '+0.29', '+0.25%', '11:56 AM EDT', '36.44M', '174.07M', '2,014.69B']
['BAC', 'Bank of America Corporation', '24.175', '+0.03', '+0.14%', '11:56 AM EDT', '17.62M', '58.50M', '209.39B']
['CHTR', 'Charter Communications, Inc.', '607.65', '-0.61', '-0.10%', '11:55 AM EDT', '185.50k', '918.68k', '124.51B']
['MDLZ', 'Mondelez International, Inc.', '56.855', '-0.13', '-0.22%', '11:56 AM EDT', '1.47M', '5.89M', '81.21B']
['USB', 'U.S. Bancorp', '39.1383', '-0.07', '-0.18%', '11:56 AM EDT', '1.55M', '6.28M', '58.96B']
['KHC', 'The Kraft Heinz Company', '31.6582', '-0.33', '-1.04%', '11:56 AM EDT', '917.53k', '6.03M', '38.70B']
['BK', 'The Bank of New York Mellon Corporation', '37.24', '+0.14', '+0.38%', '11:56 AM EDT', '1.65M', '4.85M', '33.00B']
['DAL', 'Delta Air Lines, Inc.', '31.71', '-0.27', '-0.84%', '11:56 AM EDT', '5.06M', '20.41M', '20.22B']
['STNE', 'StoneCo Ltd.', '60.17', '+0.97', '+1.64%', '11:56 AM EDT', '724.60k', '2.55M', '18.58B']
['LSXMK', 'The Liberty SiriusXM Group', '35.63', '+0.41', '+1.16%', '11:51 AM EDT', '170.42k', '831.10k', '13.73B']
['MTB', 'M&T Bank Corporation', '100.105', '+0.69', '+0.69%', '11:56 AM EDT', '249.43k', '825.70k', '12.84B']
['LBTYA', 'Liberty Global plc', '20.975', '-0.32', '-1.53%', '11:56 AM EDT', '314.06k', '1.28M', '12.36B']
['DVA', 'DaVita Inc.', '89.895', '+0.19', '+0.22%', '11:56 AM EDT', '208.97k', '1.09M', '10.97B']
['GL', 'Globe Life Inc.', '84.06', '+0.61', '+0.73%', '11:56 AM EDT', '98.17k', '475.46k', '8.95B']
['LILA', 'Liberty Latin America Ltd.', '10.57', '-', '-', '11:50 AM EDT', '54.89k', '295.90k', '2.03B']
['LILAK', 'Liberty Latin America Ltd.', '10.46', '-0.02', '-0.19%', '11:56 AM EDT', '261.74k', '1.49M', '2.01B']

In [194]:
#creating a dataframe and putting them into a dataframe
l = []
for tr in table_rows:
   
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
stock=pd.DataFrame(l, columns=['Symbol','Company Name','Last Price','Change','% Change','Market Time','Volume','Avg Vol (3 month)','Market cap'])

In [195]:
stock.head()#finally prepared out dataframes

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market cap
0,None,None,None,None,None,None,None,None,None
1,AAPL,Apple Inc.,117.8011,+0.29,+0.25%,11:56 AM EDT,36.44M,174.07M,"2,014.69B"
2,BAC,Bank of America Corporation,24.175,+0.03,+0.14%,11:56 AM EDT,17.62M,58.50M,209.39B
3,CHTR,"Charter Communications, Inc.",607.65,-0.61,-0.10%,11:55 AM EDT,185.50k,918.68k,124.51B
4,MDLZ,"Mondelez International, Inc.",56.855,-0.13,-0.22%,11:56 AM EDT,1.47M,5.89M,81.21B

In [196]:
stock.describe()

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market cap
count,16,16,16,16,16,16,16,16,16
unique,16,15,16,16,16,4,16,16,16
top,MTB,Liberty Latin America Ltd.,35.63,+0.03,+0.14%,11:56 AM EDT,98.17k,20.41M,20.22B
freq,1,2,1,1,1,13,1,1,1

In [197]:
stock.isna().sum()

Symbol               1
Company Name         1
Last Price           1
Change               1
% Change             1
Market Time          1
Volume               1
Avg Vol (3 month)    1
Market cap           1
dtype: int64

In [198]:
stock.dropna(inplace=True)

In [199]:
stock.isna().sum()

Symbol               0
Company Name         0
Last Price           0
Change               0
% Change             0
Market Time          0
Volume               0
Avg Vol (3 month)    0
Market cap           0
dtype: int64

In [200]:
stock.head()

,Symbol,Company Name,Last Price,Change,% Change,Market Time,Volume,Avg Vol (3 month),Market cap
1,AAPL,Apple Inc.,117.8011,+0.29,+0.25%,11:56 AM EDT,36.44M,174.07M,"2,014.69B"
2,BAC,Bank of America Corporation,24.175,+0.03,+0.14%,11:56 AM EDT,17.62M,58.50M,209.39B
3,CHTR,"Charter Communications, Inc.",607.65,-0.61,-0.10%,11:55 AM EDT,185.50k,918.68k,124.51B
4,MDLZ,"Mondelez International, Inc.",56.855,-0.13,-0.22%,11:56 AM EDT,1.47M,5.89M,81.21B
5,USB,U.S. Bancorp,39.1383,-0.07,-0.18%,11:56 AM EDT,1.55M,6.28M,58.96B

In [203]:
stock['Symbol'].unique()

array(['AAPL', 'BAC', 'CHTR', 'MDLZ', 'USB', 'KHC', 'BK', 'DAL', 'STNE',
       'LSXMK', 'MTB', 'LBTYA', 'DVA', 'GL', 'LILA', 'LILAK'],
      dtype=object)

In [202]:
sns.heatmap(data=stock)

ValueError: could not convert string to float: 'AAPL'